<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Dashboard</title>

    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>

<h2>User Verification Dashboard</h2>

<div id="container"
     style="width:800px;height:500px;">
</div>

<hr>

<h3>Password Reset Activity</h3>

<label>Select Period:</label>

<select id="daysSelect">
    <option value="7">Last 7 Days</option>
    <option value="30" selected>Last 30 Days</option>
    <option value="90">Last 90 Days</option>
</select>

<div id="passwordResetChart"
     style="width:800px;height:500px;">
</div>

<script th:inline="javascript">

    let verified = [[${verifiedUsers}]];
    let unverified = [[${unverifiedUsers}]];

    Highcharts.chart('container', {

        chart: {
            type: 'column'
        },

        title: {
            text: 'Verified vs Unverified Users'
        },

        xAxis: {
            categories: ['Verified', 'Unverified']
        },

        yAxis: {
            title: {
                text: 'Number of Users'
            }
        },

        series: [{
            name: 'Users',
            data: [verified, unverified]
        }]
    });

</script>

<script>

function loadPasswordResetChart(days) {

    fetch('/api/stats/password-resets?days=' + days)
        .then(response => response.json())
        .then(data => {

            let dates = data.map(item => item.date);
            let counts = data.map(item => item.count);

            Highcharts.chart('passwordResetChart', {

                chart: {
                    type: 'line'
                },

                title: {
                    text: 'Password Resets'
                },

                xAxis: {
                    categories: dates
                },

                yAxis: {
                    title: {
                        text: 'Number of Resets'
                    }
                },

                series: [{
                    name: 'Password Resets',
                    data: counts
                }]
            });

        });
}

loadPasswordResetChart(30);

document.getElementById('daysSelect')
    .addEventListener('change', function() {

        loadPasswordResetChart(this.value);

    });

</script>


</body>
</html>